/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
    display: inline-block;
    padding: 10px 50px;
    font-size: 1.6rem;
    border: 2px solid #fff;
    border-radius: 20px;
    line-height: 1;
}

.c-backtotop {
    position: fixed;
    z-index: 3;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: none;
    @include sp {
        display: none;
    }

    &.is-scroll {
        display: block;
        @include sp {
            display: none;
        }
    }

    &:hover {
        .c-backtotop__btn {
            background-color: $green;
        }
    }

    .c-backtotop__btn {
        margin: 0 auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $blue;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 7px;
        top: 3px;        
    }

    .c-backtotop__icon {
        font-size: 2.6rem;
        letter-spacing: 2.4px;
        line-height: 1;
        position: relative;
        left: -1px;
        top: 3px;
    }

    .c-backtotop__text { 
        font-family: $main-font;
        font-weight: 600;
        color: $black;
        letter-spacing: 2.8px;
        font-size: 1.4rem;
        line-height: 1;        
    }

    .c-backtotop__img {
        margin-top: 8px;
    }
}
