/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-icon {
    width: 40px;
    position: relative;
    left: 49%;
}
