/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-item1 {
    background-image: url("./assets/img/item1.jpg");
}

.c-item2 {
    background-image: url("./assets/img/item2.jpg");
}

.c-item3 {
    background-image: url("./assets/img/item3.jpg");
}

.c-item4 {
    background-image: url("./assets/img/item4.jpg");
}
