/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-red {
    background-image: url("./assets/img/item1.jpg");
}

.c-blue {
    background-image: url("./assets/img/item2.jpg");
}

.c-yellow {
    background-image: url("./assets/img/item3.jpg");
}

.c-green {
    background-image: url("./assets/img/item4.jpg");
}

.c-blog1 {
    background-image: url("./assets/img/pd1.jpg");
}

.c-blog2 {
    background-image: url("./assets/img/pd2.jpg");
}

.c-blog3 {
    background-image: url("./assets/img/pd3.jpg");
}

.c-blog4 {
    background-image: url("./assets/img/pd4.jpg");
}
