/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    position: absolute;
    top: 36.5%;
    right: 1.5%;
	
    list-style-type: none;
	
    li {
        margin: 15px 0;
    }
	
    button {
        display: block;
        width: 15px;
        height: 15px;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #000;
        text-indent: -9999px;
    }
          
	
    li.slick-active button {
        background-color: $blue;
    }
}

.slick-prev {
    border: none;
    background-color: unset;
    background-image: url("./assets/img/prev.svg");
    width: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 43px;
    top: 44%;
    height: 30px;
    @include sp {
        left: 20px;
    }
}

.slick-next {
    border: none;
    background-color: unset;
    background-image: url("./assets/img/next.svg");
    width: 70px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 44%;
    right: -10px;

    @include sp {
        right: -32px;
    }
}
