.c-product {
    padding: 50px 0;
    @include sp {
        padding: 50px 0 30px;
    }

    .c-product__desc {
        text-align: center;
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 1.2px;
        color: $black;
        line-height: 2;
        margin-top: 12px;
        font-feature-settings: "palt" 1;
        @include sp {
            line-height: 1.7;
            letter-spacing: 1.3px;
            padding: 0 15px;
            margin-top: 8px;
        }
    }

    .c-product__list {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        flex-wrap: wrap;
        margin: 37px auto 0;
        @include tab {
            max-width: 600px;
        }
        @include sp {
            margin: 19px auto 0;
            max-width: 365px;
        }
    }

    .c-product__item {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        width: 20.5%;
        padding: 0 15px;
        position: relative;
        background-color: rgb(255, 255, 255);
        @include tab {
            width: 43%;
            margin-bottom: 30px;
        }
        @include sp {
            height: 225px;
            padding: 0;
            width: 47%;
            margin-bottom: 20px;
        }

        &:hover {
            opacity: 1;

            &::after {
                display: none;
            }

            &::before {
                display: none;
            }
        }

        &::after {
            content: "";
            border-bottom: 450px solid rgba(255, 255, 255, 0.7);
            border-right: 270px solid transparent;
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            @include sp {
                border-bottom: 226px solid rgba(255, 255, 255, 0.7);
                border-right: 158px solid transparent;
            }
        }

        &::before {
            content: "";
            border-top: 212px solid rgba(255, 255, 255, 0.7);
            border-left: 128px solid transparent;
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
            @include sp {
                border-top: 110px solid rgba(255, 255, 255, 0.7);
                border-left: 78px solid transparent;
            }
        }

        &:nth-child(even) {
            &::after {
                border-right: none;
                left: 0;
                right: 0;
                border-left: 270px solid transparent;
                @include sp {
                    border-bottom: 226px solid rgba(255, 255, 255, 0.7);
                    border-left: 158px solid transparent;
                }
            }

            &::before {
                border-left: none;
                right: 100%;
                left: 0;
                border-right: 128px solid transparent;
                @include sp {
                    border-right: 78px solid transparent;
                    border-top: 110px solid rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
    .c-product__red {
        background-image: url("./assets/img/item1.jpg");
        &>.c-product__label{
            background-color: $red;
        }
    }
    
    .c-product__blue {
        background-image: url("./assets/img/item2.jpg");
        &>.c-product__label{
            background-color: $blue;
            @include sp{
                padding: 15px 2px 8px;
            }
        }        
    }
    
    .c-product__yellow {
        background-image: url("./assets/img/item3.jpg");
        &>.c-product__label{
            background-color: #a68a2a;
            @include sp{
                padding: 15px 3px 12px;
            }
        }
    }
    
    .c-product__green {
        background-image: url("./assets/img/item4.jpg");
        &>.c-product__label{
            background-color: $green;
            @include sp{
                padding: 16px 0 11px;
            }
        }
    }

    .c-product__label {
        position: relative;
        top: 70.2%;
        text-align: center;
        padding: 20px 10px;
        z-index: 2;
        @include sp {
            top: 74%;
            padding: 15px 0 11px;
            margin: 0 auto;
            transform: translateY(-50%);
            max-width: 127.5px;
        }
    }
    .c-product__iconsvg{
        margin-bottom: 18px;
        @include sp{
            margin-bottom: 14px;
        }

    }
    .c-product__tsunami{
        @include sp{
            width: 25%;
            max-width: 30px;
        }
    }
    .c-product__drone{
        margin-bottom: 24px;
        @include sp{
            width: 59.5%;
            margin-bottom: 10px;
            max-width: 71px;
        }
    }
    .c-product__camera{
        margin-bottom: 15px;
        @include sp{
            width: 19%;
            margin-bottom: 12px;
            max-width: 22px;
        }
    }
    .c-product__drill{
        @include sp{
            width: 22%;
            max-width: 29px;
            margin-bottom: 12px;
        }
    }

    .c-product__name {
        font-family: $main-font;
        font-size: 1.8rem;
        letter-spacing: 3.1px;
        font-weight: 600;
        color: $white;
        font-feature-settings: "palt" 1;
        line-height: 1;
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 1.4px;
            line-height: 1.4;
            font-feature-settings: "palt" 0;
        }
    }
}
