.c-product {
    padding: 50px 0;
    @include sp {
        padding: 50px 0 29px;
    }

    .c-product__desc {
        text-align: center;
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 1.2px;
        color: $black;
        line-height: 2;
        margin-top: 12px;
        font-feature-settings: "palt" 1;
        @include sp {
            line-height: 1.8;
            letter-spacing: 1.3px;
            padding: 0 15px;
            margin-top: 10px;
        }
    }

    .c-product__list {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        flex-wrap: wrap;
        margin: 37px auto 0;
        @include tab {
            max-width: 600px;
        }
        @include sp {
            max-width: 335px;
            padding: 0;
            margin: 15px auto 0;
        }
    }

    .c-product__item {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        width: 20.5%;
        padding: 0 15px;
        position: relative;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
        @include tab {
            width: 43%;
            margin-bottom: 30px;
        }
        @include sp {
            height: 226px;
            padding: 0;
            width: 47%;
            margin-bottom: 20px;
        }

        &:hover {
            opacity: 1;

            &::after {
                display: none;
            }

            &::before {
                display: none;
            }
        }

        &::after {
            content: "";
            border-bottom: 450px solid rgba(255, 255, 255, 0.7);
            border-right: 270px solid transparent;
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            @include sp {
                border-bottom: 226px solid rgba(255, 255, 255, 0.7);
                border-right: 160px solid transparent;
            }
        }

        &::before {
            content: "";
            border-top: 212px solid rgba(255, 255, 255, 0.7);
            border-left: 128px solid transparent;
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
            @include sp {
                border-top: 110px solid rgba(255, 255, 255, 0.7);
                border-left: 78px solid transparent;
            }
        }

        &:nth-child(2n) {
            &::after {
                border-right: unset;
                left: unset;
                right: 0;
                border-left: 270px solid transparent;
                @include sp {
                    border-bottom: 226px solid rgba(255, 255, 255, 0.7);
                    border-left: 160px solid transparent;
                }
            }

            &::before {
                border-left: unset;
                right: unset;
                left: 0;
                border-right: 128px solid transparent;
                @include sp {
                    border-right: 78px solid transparent;
                    border-top: 110px solid rgba(255, 255, 255, 0.7);
                }
            }
        }
    }


    .c-product__label {
        position: relative;
        top: 70.2%;
        margin: 0 15px;
        text-align: center;
        padding: 20px 10px;
        z-index: 2;
        @include sp {
            top: 55%;
            padding: 15px 2px 11px;
            margin: 0 14px;
        }
    }

    .c-tsunami {
        @include sp {
            width: 26%;
        }
    }

    .c-drone {
        @include sp {
            width: 58.5%;
        }
    }

    .c-camera {
        @include sp {
            width: 16.5%;
        }
    }

    .c-drill {
        @include sp {
            width: 23%;
        }
    }

    .c-product__name {
        font-family: $main-font;
        font-size: 1.8rem;
        letter-spacing: 3.1px;
        font-weight: 600;
        color: $white;
        font-feature-settings: "palt" 1;
        margin-top: 18px;
        line-height: 1;
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 2.7px;
            margin-top: 11px;
            line-height: 1.4;
        }
    }
}
