.c-plane {
    padding: 50px 0 0;

    .c-plane__contain {
        background-image: url("./assets/img/forest.jpg");
        background-position: center;
        background-size: cover;
        height: 462px;
        position: relative;
    }

    .c-plane__wrapimg {
        position: absolute;
        max-width: 1065px;
        width: 100%;
        top: -9.5%;
        left: 2.2%;
        z-index: 2;
    }

    .c-plane__main {
        max-width: 1225px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: flex-end;
    }

    .c-plane__line {
        display: block;
        position: relative;
        top: 0;
        background-color: #f00;
        width: 1px;
        height: 415px;
        z-index: 1;

        &::after {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #f00;
            position: relative;
            top: 418px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
  
    .c-plane__text {
        flex-basis: 50%;
        padding: 93px 15px 46px 49px;
    }

    .c-plane__title {
        font-family: $main-font;
        font-weight: 600;
        font-size: 2.4rem;
        letter-spacing: 2.2px;
        line-height: 1.5;
        color: $white;
        font-feature-settings: "palt" 1;
    }

    .c-plane__titlebottom {
        letter-spacing: 2.4px;
    }

    .c-plane__desc {
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2;
        letter-spacing: 1.2px;
        color: $white;
        font-feature-settings: "palt" 1;
        margin-top: 20px;
    }

    .c-plane__note {
        font-family: $main-font;
        font-size: 1.2rem;
        letter-spacing: 1.1px;
        font-weight: 300;
        color: $white;
        font-feature-settings: "palt" 1;
        margin-top: 17px;
        line-height: 2.3;
    }

    .c-plane__seemore {
        padding: 25px 0;
        text-align: center;
    }

    .c-plane__link {
        font-family: $main-font;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 1.4px;
        color: #000;
    }
}
