.c-blog {
    .c-blog__bg {
        background-image: url("./assets/img/bgpd.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 533px;

        @include tab {
            background-position: center top;
        }
        @include sp {
            height: 476px;
            background-image: url("./assets/img/bgpdsp.jpg");
        }
    }

    .c-blog__top {
        padding: 50px 0 0;

        @include sp {
            padding: 41px 20px 0;
        }
    }

    .c-blog__desc {
        text-align: center;
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 1.2px;
        line-height: 2;
        color: $black;
        font-feature-settings: "palt" 1;
        margin-top: 11px;

        @include sp {
            letter-spacing: 1.2px;
            line-height: 1.7;
            margin-top: 7px;
        }
    }

    .c-blog__list {
        margin: 37px auto;
        display: flex;
        justify-content: space-between;
        position: relative;

        @include tab {
            padding: 0 60px;
            overflow: hidden;
        }

        @include sp {
            padding: 0 60px;
            margin: 14px auto;
            max-width: 450px;
        }
    }

    .c-blog__item {
        display: block;
        max-width: 270px;
        padding: 0 15px;
        width: 100%;

        @include tab {
            padding: 15px;
        }

        @include sp {
            max-width: 100%;
        }

        &:nth-child(even) {
            margin: 15px 0;

            @include tab {
                margin: 0;
            }
        }
    }

    .c-blog__wrap {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
    }

    .c-blog__thumb {
        background-repeat: no-repeat;
        background-size: cover;
        height: 170px;
        background-color: rgb(204, 204, 204);
        position: relative;

        @include sp {
            height: 142px;
        }
    }

    .c-blog__label {
        max-width: fit-content;
        width: 100%;
        font-family: $main-font;
        color: $white;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        font-feature-settings: "palt" 1;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;

        @include sp {
            letter-spacing: 0.7px;
        }
    }

    .c-blog__labelblue {
        padding: 4px;

        @include sp {
            padding: 4px 12px 0;
        }
    }

    .c-blog__labelred {
        padding: 4px 5px 4px 7px;

        @include sp {
            padding: 4px 12px 0;
        }
    }

    .c-blog__info {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
        padding: 11px 10px 14px 14px;
        height: 95px;
        position: relative;

        @include tab {
            height: 80px;
        }
        @include sp {
            padding: 4px 10px 14px 15px;
        }

        &::after {
            content: ">";
            font-family: $main-font;
            font-size: 1.5rem;
            line-height: 2;
            font-weight: 600;
            letter-spacing: 1.5px;
            color: $black;
            position: absolute;
            bottom: 5px;
            right: 9px;
            @include sp {
                right: 15px;
                bottom: 7px;
            }
        }
    }

    .c-blog__post {
        font-family: $main-font;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        color: $black;
        font-feature-settings: "palt" 1;

        @include sp {
            font-size: 1.3rem;
            letter-spacing: 1px;
            line-height: 2;
        }
    }

    .c-blog__seemore {
        text-align: center;
        padding: 25px 0;
        @include sp {
            padding: 16px 0;
        }
    }

    .c-blog__link {
        font-size: 1.8rem;
        font-family: $main-font;
        letter-spacing: 1.8px;
        color: #000;
        font-weight: 600;
        font-feature-settings: "palt" 1;
        margin-left: 3px;

        @include sp {
            font-size: 1.4rem;
            letter-spacing: 1.4px;
            margin-left: 0;
        }
    }    
}
