.c-cta {
    background-color: rgb(245, 245, 245);
    padding: 50px 0 0;
    @include sp {
        padding: 20px 0;
    }

    .c-cta__main {
        display: flex;
        justify-content: space-between;
        @include tab {
            flex-direction: column;
        }
    }

    .c-cta__left {
        width: 49.9%;
        position: relative;
        display: block;
        @include tab {
            width: 100%;
            margin-bottom: 5px;
        }
    }

    .c-cta__right {
        max-width: 50%;
        width: 100%;
        position: relative;
        @include tab {
            max-width: 100%;
        }
    }

    .c-cta__inner {
        position: absolute;
        top: 29.4%;
        left: 20.2%;
        @include laptop {
            top: 17.5%;
            left: 15%;
        }
        @include tab {
            top: 30%;
            left: 20%;
            padding-right: 20%;
        }
        @include sp {
            top: 51%;
            left: 0;
            padding: 5.3%;
            transform: translateY(-50%);
        }
    }

    .c-cta__title {
        font-family: $main-font;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 3px;
        line-height: 1.2;
        color: $white;
        @include sp {
            font-size: 1.6rem;
            line-height: 1.2;
            letter-spacing: 1.6px;
        }
    }

    .c-cta__desc {
        font-family: $main-font;
        font-size: 1.5rem;
        letter-spacing: 1.7px;
        line-height: 2;
        color: $white;
        position: relative;
        padding-bottom: 29px;
        margin-top: 13px;
        font-feature-settings: "palt" 1;
        @include sp {
            font-size: 1.2rem;
            line-height: 1.7;
            letter-spacing: 1.4px;
            padding-bottom: 19px;
        }

        &::after {
            display: block;
            content: ">";
            font-family: $main-font;
            font-weight: 600;
            font-size: 1.8rem;
            letter-spacing: 1.4px;
            line-height: 1.7;
            color: $white;
            position: absolute;
            bottom: 0;
            left: 1px;
            @include sp {
                font-size: 1.5rem;
                line-height: 1.4;
            }
        }
    }
}
