.c-qna {
    padding: 50px 0 0;
    @include sp {
        padding: 40px 0 0;
    }

    .c-qna__list {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        @include tab {
            padding: 0 20px;
        }
        @include sp {            
            margin-top: 11px;                   
        }
    }

    .c-qna__linkitem {
        opacity: 1;

        @include tab {
            &:nth-child(1) {
                &>.c-qna__item {
                    border-top: 1px solid rgb(204, 204, 204);
                }
            } 
        }     
    }

    .c-qna__item {
        display: flex;
        padding: 14px 8px 11px;
        border-bottom: 1px solid rgb(204, 204, 204);
        position: relative;
        @include sp {
            flex-direction: column;
            padding: 15px 0 9px;            
        }

        &:hover {
            background-color: #f5f5f5;
            opacity: 1;
        }

        &::after {
            content: ">";
            font-family: $main-font;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.6;
            letter-spacing: 1.8px;
            color: $blue;
            position: absolute;
            top: 33%;
            right: 1.5%;
            @include sp {
                font-size: 1.5rem;
                letter-spacing: 1.5px;
                right: -0.5%;
            }
        }
    }

    .c-qna__date {
        width: 25%;
        font-family: $main-font;
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 1.4px;
        color: $blue;
        line-height: 2;
        font-feature-settings: "palt" 1;
        @include sp {
            width: 100%;
            font-size: 1.2rem;
            letter-spacing: 1.1px;
            line-height: 1;
        }
    }

    .c-qna__event {
        width: 66%;
        color: $black;
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 1.1px;
        line-height: 2;
        font-feature-settings: "palt" 1;
        @include sp {
            width: 90%;
            font-size: 1.2rem;
            letter-spacing: 1px;
            line-height: 1.7;
            margin-top: 10px;
        }
    }
      
    .c-qna__seemore {
        text-align: center;
        background-color: rgb(211, 211, 211);
        margin-top: 30px;
        padding: 24px 0;
        position: relative;
        @include sp {
            margin-top: 20px;
            padding: 16px 0;
        }
    }

    .c-qna__link {
        font-family: $main-font;
        font-weight: 600;
        letter-spacing: 1.8px;
        font-size: 1.8rem;
        color: $black;
        font-feature-settings: "palt" 1;
        margin-left: 9px;
        @include sp {
            font-size: 1.4rem;
            letter-spacing: 1.4px;
            margin-left: 0;
        }
    }
}
