///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
.u-notpc {
    display: none;
    @include tab {
        display: block;
    }
}

.u-contenttab {
    display: none;
    @include tab {
        display: contents;
    }
}

.u-pc {
    @include tab {
        display: none;
    }
}

.u-notsp {
    @include sp {
        display: none;
    }
}
//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u-mgl05 {
    margin-left: -5px;
    @include tab {
        margin-left: 0;
    }
}
//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-red {
    background-color: $red;
}

.u-blue {
    background-color: $blue;
}

.u-yellowdark {
    background-color: #a68a2a;
}

.u-green {
    background-color: $green !important;
}

.u-star {
    color: #f90;        
}
//--------------------------------------------------
//text
//--------------------------------------------------
.u-bold {
    font-weight: 600;
}
