///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u-mgl05 {
    margin-left: -5px;
}
//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-red {
    background-color: $red;
}

.u-blue {
    background-color: $blue;
}

.u-yellowdark {
    background-color: #a68a2a;
}

.u-green {
    background-color: $green;
}
