/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    margin: 0 auto;
    z-index: 1;

    .c-footer__main {
        display: flex;
        position: relative;
    }

    .c-footer__img {
        width: 34.9%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 135%;
        bottom: 0;
        position: absolute;
        z-index: 0;
        @include tab {
            height: 100%;
            width: 29%;
        }
    }

    .c-footer__imgright {
        background-image: url("./assets/img/footer-right.png");
        text-indent: -9999px;
        right: 0;
    }

    .c-footer__imgleft {
        text-indent: -9999px;
        background-image: url("./assets/img/footer-left.png");
        left: 0;
    }

    .c-footer__inner {
        position: absolute;
        left: 4.1%;
        bottom: 9.5%;
        z-index: 2;
        @include laptop {
            left: 2.1%;
        }

        @include tab {
            position: relative;
            left: -0.5%;
            top: 9.6%;
            bottom: unset;
            text-shadow: 0 2px #eee;
        }
        @include sp {
            text-shadow: 0 1px #eee;
        }
    }

    .c-footer__title {
        text-align: center;
        font-family: "Lora", sans-serif;
        font-weight: 400;
        letter-spacing: 0;
        color: $white;

        @include tab {
            color: $green;
        }
    }

    .c-footer__protect {
        font-size: 5rem;
        line-height: 0.9;

        @include tab {
            font-size: 3rem;
        }
    }

    .c-footer__the {
        font-size: 2rem;
        line-height: 2.3;
        margin-left: -3px;

        @include tab {
            font-size: 1.2rem;
            transform: translateY(-4px);
            margin-left: 0;
            display: inline-block;            
        }
    }

    .c-footer__future {
        font-size: 5rem;
        line-height: 0.7;
        margin-left: -6px;

        @include tab {
            font-size: 3rem;
            display: inline-block;
            transform: translateY(-4px);        
        }
    }

    .c-footer__slogan {
        font-family: $main-font;
        font-size: 1.4rem;
        letter-spacing: 3px;
        font-weight: 300;
        text-align: center;
        line-height: 1.9;
        color: $white;
        font-feature-settings: "palt" 1;
        margin-left: 2px;
        transform: translateY(-7px);

        @include tab {
            color: $green;
            font-size: 1.2rem;
            margin-left: 5px;
            transform: translateY(-11px);
            letter-spacing: 2.3px;
        }
    }

    .c-footer__center {
        max-width: 580px;
        width: 100%;
        text-align: center;
        font-feature-settings: "palt" 1;
        margin: 0 auto;
        z-index: 1;
    }

    .c-footer__right {
        width: 34.9%;
    }

    .c-footer__info {
        padding: 60px;
        @include sp {
            padding: 37px 20px;
        }
    }

    .c-footer__logo {
        max-width: 145px;
        width: 100%;

        @include tab {
            max-width: 92px;
            margin-top: 7px;
        }
    }

    .c-footer__company {
        font-family: $main-font;
        color: $black;
        font-weight: 300;
        font-size: 1.3rem;
        letter-spacing: 1.3px;
        margin-top: 10px;
        line-height: 2;

        @include tab {
            font-size: 1.2rem;
            line-height: 1.7;
            letter-spacing: 1.2px;
            text-shadow: 0 0 2px rgb(255 255 255);
            margin-top: 11px;
            margin-left: -5px;
        }
    }

    .c-footer__name {
        font-size: 1.6rem;
        line-height: 1.4;
        display: inline-block;
        transform: translateY(2px);

        @include tab {
            font-size: 1.2rem;
            line-height: 1.6;
            letter-spacing: 1px;
            margin-left: 9px;
            display: block;
        }
    }

    .c-footer__address {
        letter-spacing: 1.1px;
        display: inline-block;

        @include tab {
            font-size: 1.2rem;
            line-height: 1.8;
            letter-spacing: 1.2px;
            margin-left: 6px;
            display: block;
        }
    }

    .c-footer__numadd {
        letter-spacing: 1px;
    }

    .c-footer__tel {
        font-family: "YuMincho", sans-serif;
        font-size: 2.6rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 400;
        color: $black;
        margin-top: 20px;
        margin-left: -6px;
        @include tab {
            font-size: 1.6rem;
            text-shadow: 0 0 2px rgb(255 255 255);
            font-feature-settings: "palt" 1;
            margin-top: 13px;
            margin-left: -4px;
        }
    }

    .c-footer__number {
        font-size: 3.2rem;
        letter-spacing: -0.6px;
        @include tab {
            font-size: 1.8rem;
            letter-spacing: -0.4px;
        }
    }

    .c-footer__fax {
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 1.6px;
        margin-top: 12px;
        font-family: "YuMincho", sans-serif;
        color: $black;
        @include tab {
            text-shadow: 0 0 2px rgb(255 255 255);
            font-size: 1.2rem;
            letter-spacing: 1.2px;
            margin-top: 8px;
        }
    }

    .c-footer__links {
        display: flex;
        justify-content: space-between;
        margin: 7px auto 0;
        font-family: $main-font;
        font-size: 1.4rem;
        color: $black;
        font-weight: 400;
        letter-spacing: 1.4px;
        text-align: center;
        max-width: 374px;
        width: 100%;
        @include tab {
            text-shadow: 0 0 2px rgb(255 255 255);
            font-size: 1.1rem;
            letter-spacing: 1.1px;
            margin-top: 10px;
            justify-content: flex-start;
        }
    }

    .c-footer__link {
        position: relative;
        width: 50%;

        &::after {
            content: ">";
            font-family: $main-font;
            font-size: 2rem;
            font-weight: 600;
            position: relative;
            top: 0;
            right: -10px;
            color: $blue;
            @include tab {
                font-size: 1.2rem;
                text-shadow: 0 0 2px rgb(255 255 255);
                right: -6px;
            }
        }
    }

    .c-footer__tnc {
        width: 27%;
        @include laptop {
            width: 29%;
        }
        @include tab {
            width: 50%;
            text-align: right;
            right: 42px;
        }
    }

    .c-footer__privacy {
        width: 49%;
        letter-spacing: 1.5px;
        @include tab {
            width: 50%;
            text-align: left;
            left: -12px;
        }
    }

    .c-footer__copyright {
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 32px;
        letter-spacing: 1.1px;
        font-family: $main-font;
        color: $black;
        font-feature-settings: "palt" 1;
        @include tab {
            text-shadow: 0 0 2px rgb(255 255 255);
            font-size: 1rem;
            letter-spacing: 1.1px;
            margin-top: 19px;
        }
    }
}
