/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    margin: 0 auto;
    z-index: 1;

    .c-footer__main {
        display: flex;
        position: relative;
    }

    .c-footer__img {
        width: 34.9%;
        margin-top: -7.1%;
    }
    
    .c-footer__inner {
        position: absolute;
        left: 4.1%;
        bottom: 7%;
        z-index: 2;
    } 

    .c-footer__title {
        text-align: center;
        font-family: "Lora",sans-serif;
        font-weight: 400;
        letter-spacing: 0;
        color: $white;
    }

    .c-footer__protect {        
        font-size: 5rem;
        line-height: 0.9;
    }

    .c-footer__the {
        font-size: 2rem;
        line-height: 2.3;
        margin-left: -3px;
    }

    .c-footer__future {
        font-size: 5rem;
        line-height: 0.7;
        margin-left: -6px;
    }

    .c-footer__slogan {
        font-family: $main-font;
        font-size: 1.4rem;
        letter-spacing: 3px;
        font-weight: 300;
        text-align: center;
        line-height: 1.9;
        color: $white;
        font-feature-settings: "palt" 1;
        margin-left: 2px;
        transform: translateY(-7px);
    }

    .c-footer__center {  
        max-width: 580px;
        width: 100%;
        text-align: center;
        font-feature-settings: "palt" 1;
    }

    .c-footer__right {
        width: 34.9%;
    }

    .c-footer__info {
        margin: 33.5% auto 5%;
    }

    .c-footer__logo {
        max-width: 145px;
        width: 100%;
    }

    .c-footer__company {
        font-family: $main-font;
        color: $black;
        font-weight: 300;
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin-top: 10px;
        line-height: 1.8;
    }

    .c-footer__name {
        font-size: 1.6rem;
        letter-spacing: 1.6px;
    }

    .c-footer__tel {
        font-family: "YuMincho", sans-serif;
        font-size: 2.6rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 400;
        color: $black;
        margin-top: 19px;
    }

    .c-footer__number {
        font-size: 3.2rem;
    }

    .c-footer__fax {
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 1.6px;
        margin-top: 11px;
        font-family: "YuMincho",sans-serif;
        color: $black;        
    }

    .c-footer__links {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 0;
        font-family: $main-font;
        font-size: 1.4rem;
        color: $black;
        font-weight: 400;
        letter-spacing: 1.1px;
        text-align: center;
        max-width: 374px;
        width: 100%;
    }

    .c-footer__link {
        position: relative;
        width: 50%;

        &::after {
            content: ">";
            font-family: $main-font;
            font-size: 2rem;
            font-weight: 600;
            position: relative;
            top: 0;
            right: -5px;
            color: $blue;
        }
    }

    .c-footer__tnc {
        width: 29%;
    }

    .c-footer__privacy {
        width: 49%;
    }

    .c-footer__copyright {
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 33px;
        letter-spacing: 1.2px;
        font-family: $main-font;
        color: $black;        
    }
}
