/* Header
------------------------------------------------------------*/
.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background: rgba(255, 255, 255, 0.9);

    .c-header__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .c-header__submenu {
        display: inline-block;
    }
}
/* Main menu
------------------------------------------------------------*/

