/* Header
------------------------------------------------------------*/
.c-header {
    position: fixed;
    z-index: 2;
    transition: height 200ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);

    .c-header__main {
        margin-left: auto;
        padding-left: 15px;
        max-width: 1575px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 80px;

        &.is-scroll {
            height: 60px;
        }
    }

    &.is-scroll {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 2px 7px 0 rgb(0 0 0 / 30%);

        .c-header__logoimg {
            height: 30px;
        }    
    }

    .c-header__logoimg {
        height: 47px;
        transition: height 0.3s ease-in-out;
        @include laptop {
            height: 40px;
        }
    }

    .c-header__nav {
        height: 100%;
    }

    .c-header__menu {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }

    .c-header__link {
        position: relative;

        &:nth-child(6) {
            background-color: $blue;

            &>.c-header__item {
                letter-spacing: 1.4px;
                color: $white;
                padding: 0;
                width: 139px;

                &:hover {
                    background-image: unset;
                }
            }
        }

        &:nth-child(5) {
            background-color: $green;

            &>.c-header__item {
                letter-spacing: 1.4px;
                color: $white;
                padding: 0;
                width: 139px;

                &:hover {
                    background-image: unset;
                }
            }
        }
    }

    .c-header__item {
        color: black;
        font-size: 1.6rem;
        letter-spacing: 1.9px;
        font-family: $main-font;
        line-height: 1.8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 18px;
        position: relative;
        @include laptop {
            padding: 0 10px;
        }

        &:hover {
            background-image: url("./assets/img/logomark.svg");
            background-position: center;
            background-size: 64px;
            background-repeat: no-repeat;
            transition: 0s;
        }
    }

    .c-header__submenu {
        position: absolute;
        display: none;
        width: 280px;
        top: 100%;
        left: 52%;
        transform: translateX(-50%);
        background-color: #000;
        opacity: 0.8;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.53);
        padding: 0 15px 6px;
        z-index: 1;

        &:hover {
            display: inline-block;
        }

        &.is-click {
            display: inline-block;
        }
    }

    .c-header__subitem {
        color: $white;
        font-size: 1.6rem;
        line-height: 1.7;
        letter-spacing: 0.1em;
        font-weight: 300;
        font-family: $main-font;
        border-bottom: 1px solid rgba(183, 183, 183, 0.27);
        padding: 14px 0;
        font-feature-settings: "palt" 1;
        position: relative;

        &:last-child {
            border-bottom: none;
        }

        &::before {
            content: "\f105";
            font-weight: 900;
            font-family: "Font Awesome 5 Free";
            color: $white;
            position: absolute;
            right: 0;
        }
    }

}

/* Main menu
------------------------------------------------------------*/
