/* Header
------------------------------------------------------------*/
.c-header {
    position: fixed;
    z-index: 99;
    transition: height 200ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);

    .c-header__main {
        margin-left: auto;
        padding-left: 15px;
        max-width: 1575px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 80px;

        &.is-scroll {
            height: 60px;
        }

        @include tab {
            height: 45px;
            padding: 0 20px;
        }
    }

    &.is-scroll {
        background-color: rgb(255, 255, 255);
        box-shadow: 0 2px 7px 0 rgb(0 0 0 / 30%);

        .c-header__logoimg {
            height: 30px;

            @include tab {
                height: 23px;
            }
        }
    }

    .c-header__logoimg {
        height: 47px;
        transition: height 0.3s ease-in-out;

        @include laptop {
            height: 40px;
        }

        @include tab {
            height: 23px;
        }
    }

    .c-header__nav {
        height: 100%;

        @include tab {
            display: none;
        }
    }

    .c-header__menu {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
    }

    .c-header__link {
        position: relative;

        &:nth-child(6) {
            background-color: $blue;

            &>.c-header__item {
                letter-spacing: 1.4px;
                color: $white;
                padding: 0;
                width: 139px;

                &:hover {
                    background-image: unset;
                }
            }
        }

        &:nth-child(5) {
            background-color: $green;

            &>.c-header__item {
                letter-spacing: 1.4px;
                color: $white;
                padding: 0;
                width: 139px;

                &:hover {
                    background-image: unset;
                }
            }
        }
    }

    .c-header__item {
        color: black;
        font-size: 1.6rem;
        letter-spacing: 1.9px;
        font-family: $main-font;
        line-height: 1.8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 18px;
        position: relative;

        @include laptop {
            padding: 0 10px;
        }

        &:hover {
            background-image: url("./assets/img/logomark.svg");
            background-position: center;
            background-size: 64px;
            background-repeat: no-repeat;
            transition: 0s;

            &~.c-header__submenu {
                display: inline-block;
            }
        }
    }

    .c-header__submenu {
        position: absolute;
        display: none;
        width: 280px;
        top: 100%;
        left: 52%;
        transform: translateX(-50%);
        background-color: #000;
        opacity: 0.8;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.53);
        padding: 0 15px 6px;
        z-index: 1;

        &.is-click {
            display: inline-block;
        }
    }

    .c-header__subitem {
        color: $white;
        font-size: 1.6rem;
        line-height: 1.7;
        letter-spacing: 0.1em;
        font-weight: 300;
        font-family: $main-font;
        border-bottom: 1px solid rgba(183, 183, 183, 0.27);
        padding: 14px 0;
        font-feature-settings: "palt" 1;
        position: relative;

        &:last-child {
            border-bottom: none;
        }

        &::before {
            content: "\f105";
            font-weight: 900;
            font-family: "Font Awesome 5 Free";
            color: $white;
            position: absolute;
            right: 0;
        }
    }

    .c-header__icon {
        width: 33px;
        position: relative;
        top: 7px;

        &.is-open {
            &.c-header__icon .c-header__line {
                &:first-child {
                    transform: translate(3px, 7px) rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: translate(3px, -5px) rotate(-135deg);
                }                
            }

            &::after {
                content: "閉じる";
                top: -7px;
                left: 8px;
            }
        }

        &::after {
            content: "メニュー";
            font-family: $main-font;
            font-weight: 300;
            font-size: 0.9rem;
            color: $black;
            letter-spacing: 0;
            line-height: 1;
            font-feature-settings: "palt" 1;
            position: relative;
            top: -9px;
        }
    }

    .c-header__line {
        border-radius: 2px;
        background-color: $black;
        display: block;
        height: 3px;
        margin-bottom: 3px;
        width: 25px;
        left: 5px;
        position: relative;
    }

    .c-header__info {
        text-align: center;
        color: $black;
        padding: 0 20px;
        margin-top: 22px;
    }

    .c-header__desc {
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 1.4px;
        line-height: 1.4;
        font-feature-settings: "palt" 1;
    }

    .c-header__tel {
        font-family: "Lora", sans-serif;
        font-size: 1.8rem;
        letter-spacing: 1.8px;
        font-weight: 400;
        line-height: 1.4;
        font-feature-settings: "palt" 1;
        margin-top: 13px;
    }

    .c-header__small {
        font-size: 1.5rem;
    }

    .c-header__fax {
        font-family: "Lora", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1.2px;
        margin-top: 5px;
    }

    .c-header__navmb {
        display: none;

        @include tab {
            display: none;
            z-index: 11;
            position: fixed;
            width: 100%;
            height: 100vh;
            overflow-y: scroll;
            background-color: $white;

            &.is-open {
                display: block;
                top: 45px;
                left: 0;
            }
        }
    }

    .c-header__menumb {
        margin-top: 15px;
    }

    .c-header__submenumb {
        position: fixed;
        left: 100%;
        top: 184px;
        z-index: 22;
        display: inline-block;
        background-color: $white;
        width: 100%;
        height: 100%;

        &.is-click {
            left: 0;
        }
    }

    .c-header__itemmb {
        font-family: $main-font;
        font-weight: 300;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        color: #000;
        line-height: 1;
        font-feature-settings: "palt" 1;
    }

    .c-header__linkmb {
        padding: 12.8px 19px;
        border-top: 1px dotted rgb(204, 204, 204);

        &::before {
            content: ">";
            font-family: $main-font;
            font-size: 1.8rem;
            letter-spacing: 4px;
            font-weight: 600;
            color: #44b8d1;
            position: relative;
        }

        &.is-parent {
            &::before {
                content: "+";
            }
        }

        &:nth-child(8) {
            background-color: $green;
            border-top: none;
            padding: 13px 19px;

            &>.c-header__itemmb {
                color: $white;
            }

            &::before {
                color: $white;
            }
        }

        &:last-child {
            border-top: none;
            background-color: #44b8d1;
            padding: 13px 19px;

            &>.c-header__itemmb {
                color: $white;
            }

            &::before {
                color: $white;
            }
        }
    }

    .c-header__back {
        color: $white;
        font-size: 1.5rem;
        line-height: 1.2;
        letter-spacing: 1.5px;
        font-feature-settings: "palt" 1;
        font-weight: 300;
        font-family: $main-font;
        text-align: center;
        background-color: $black;
        padding: 11px 0;

        &::before {
            content: "<";
            font-family: $main-font;
            font-weight: 600;
            font-size: 1.8rem;
            letter-spacing: 8px;
        }
    }

    .c-header__subitemmb {
        padding: 12.8px 19px;
        border-bottom: 1px dotted rgb(204, 204, 204);

        &::before {
            content: ">";
            font-family: $main-font;
            font-size: 1.8rem;
            letter-spacing: 5.5px;
            font-weight: 600;
            color: #44b8d1;
            position: relative;
        }

        &.is-parent {
            &::before {
                content: "+";
            }
        }

        &>.c-header__itemmb {
            letter-spacing: 1.1px;
        }
    }
}

/* Main menu
------------------------------------------------------------*/
