/* layout
------------------------------------------------------------*/
body {
    font-family: "Hiragino Kaku Gothic Pro", YuMincho, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 1.4rem;
    min-width: 320px;
    line-height: 1.5;

    &.is-fixed {
        overflow: hidden;
    }
}
//-------------------------------------------------------

//-------------------------------------------------------
.l-container {
    margin: 0 auto;
    width: 100%;

    &--width1200 {
        max-width: 1200px;
        @include tab {
            padding: 0 20px;
        }
        @include sp {
            padding: 0;
        }
    }

    &--width600 {
        max-width: 577px;
    }
}

