<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="p-top">
    <section class="c-mainvisual">
      <div class="c-mainvisual__slider">
        <div class="c-mainvisual__wrapimg">
          <div class="c-mainvisual__innermain  c-mainvisual__bglogo">
            <h1 class="c-mainvisual__title c-mainvisual__pagetitle">
              <span class="c-mainvisual__protect">Protect<br></span>
              <span class="c-mainvisual__the">the</span>
              <span class="c-mainvisual__future">future</span>
            </h1>
            <p class="c-mainvisual__subtitle c-mainvisual__main">防災技術を駆使し、地域の未来を守る。</p>
          </div>
        </div>
        <div class="c-mainvisual__wrapimg">
          <div class="c-mainvisual__inner">
            <h2 class="c-mainvisual__title">Protect</h2>
            <p class="c-mainvisual__subtitle">生命と財産を守る</p>
          </div>
        </div>
        <div class="c-mainvisual__wrapimg">
          <div class="c-mainvisual__inner">
            <h2 class="c-mainvisual__title">Connect</h2>
            <p class="c-mainvisual__subtitle">地域と人を繋ぐ</p>
          </div>
        </div>
        <div class="c-mainvisual__wrapimg">
          <div class="c-mainvisual__inner">
            <h2 class="c-mainvisual__title">Technology</h2>
            <p class="c-mainvisual__subtitle">最新技術を生かす</p>
          </div>
        </div>
      </div>
      <div class="c-mainvisual__bottom l-container l-container--width1200">
        <div class="c-mainvisual__btn"><i class="c-mainvisual__dot"></i></div>
      <div class="c-mainvisual__label">
        <div class="c-mainvisual__left">
          <div class="c-mainvisual__pag">
            <i class="c-mainvisual__prev">></i>
            <i class="c-mainvisual__next">></i>
          </div>
          <p class="c-mainvisual__date">2018年11月22日</p>
        </div>
        <p class="c-mainvisual__center">先進建設・防災・減災技術フェアin熊本にドローン等について出展しました。</p>
        <p class="c-mainvisual__right">お知らせ一覧 ></p>
      </div>
      </div>
    </section>
    <section class="c-product l-container l-container--width1200">
      <div class="c-top">
        <img src="./assets/img/icon.svg" alt="事業紹介" class="c-icon">
        <h2 class="c-title">事業紹介</h2>
        <p class="c-product__desc"><span class="u-mgl05">アイエステーは、たゆまない技術向上により、地域防災事業に携わるとともに</span><br>
          地域の安全・安心を確保できるインフラ整備に貢献します。</p>
      </div>
      <div class="c-product__list">
        <% if (typeof product !='undefined' ) { %>
          <% product.list && product.list.forEach(item=> { %>
            <a href="#" class="c-product__item <%= item.class %>">
              <div class="c-product__label <%= item.bg %>">
                <img class="c-product__icon <%= item.iconclass %>" src="<%= item.icon %>" alt="<%= item.name %>">
                <h3 class="c-product__name">
                  <%= item.name %>
                </h3>
              </div>
            </a>
            <% }) %>
              <% } %>
      </div>
    </section>
    <section class="c-plane">
      <div class="c-plane__contain">
        <div class="l-container l-container--width1920">
          <div class="c-plane__wrapimg">
            <img class="c-plane__img" src="./assets/img/matricepro.png" alt="レーザースキャナ搭載のドローン*で安全かつ効率的に測量が可能。">
          </div>
          <div class="c-plane__main">
            <i class="c-plane__line"></i>
            <div class="c-plane__text">
              <h2 class="c-plane__title">レーザースキャナ搭載のドローン<span class="u-star">*</span><br>
                <span class="c-plane__titlebottom">で安全かつ効率的に測量が可能。</span>
              </h2>
              <p class="c-plane__desc">
                アイエステーでは、ドローン搭載型の測量用レーザースキャナ搭載のドローンを導入しました。これにより、従来の写真測量で必須だった対空標識を置くことなく、安全かつ効率的に測量することが可能となりました。またレーザーは植生下にも届くため、写真測量では不可能だった植生下のグランドデータを取得できます。災害時の地形測量や施工管理における活躍が期待できます。
              </p>
              <p class="c-plane__note"><span class="u-star">＊</span>アミューズワンセルフ社製：ドローン搭載用レーザースキャナシステム「TDOT（ティードット）」</p>
            </div>
          </div>
        </div>
      </div>
      <div class="c-plane__seemore">
        <a class="c-plane__link" href="#"> 詳細情報 ></a>
      </div>
    </section>
    <section class="c-blog">
      <div class="c-blog__bg">
        <div class="l-container l-container--width1200">
          <div class="c-blog__top">
            <img src="./assets/img/icon.svg" alt="実績紹介" class="c-icon">
            <h2 class="c-title">実績紹介</h2>
            <p class="c-blog__desc">『地域の人たちが安全に安心して暮らせるように、<br>
              そして豊かに快適に暮らせるように』、そんな想いを込めて仕事をしています。</p>
          </div>
          <div class="c-blog__list">
            <% if (typeof blog !='un=defined' ) { blog && blog.forEach(blog=> { %>
              <a class="c-blog__item" href="<%= blog.link %>">
                <div class="c-blog__wrap">
                  <div class="c-blog__thumb <%= blog.class %>">
                    <div class="c-blog__label <%= blog.color %>">
                      <%= blog.label %>
                    </div>
                  </div>
                  <div class="c-blog__info">
                    <h3 class="c-blog__post">
                      <%= blog.title %>
                    </h3>
                  </div>
                </div>
              </a>
              <% }) } %>
          </div>
        </div>
      </div>
      <div class="c-blog__seemore">
        <a class="c-blog__link" href="#">実績紹介一覧 ></a>
      </div>
    </section>
    <section class="c-cta">
      <div class="c-cta__main">
        <a class="c-cta__left" href="#">
          <div class="c-cta__inner">
            <h2 class="c-cta__title">会社案内</h2>
            <p class="c-cta__desc">これまでの防災技術と新分野のICTなどを拡充し、<br>
              地元地域に密着した総合建設コンサルタントを目指します。</p>
          </div>
        </a>
        <a class="c-cta__right" href="#">
          <div class="c-cta__inner">
            <h2 class="c-cta__title">採用情報</h2>
            <p class="c-cta__desc">私たちと共に専門知識や技術を高めながら<br>
              地域の未来を守る人材を募集しています。</p>
          </div>
        </a>
      </div>
    </section>
    <section class="c-qna">
      <div class="c-qna__main">
        <div class="l-container l-container--width1200">
          <div class="c-qna__top">
            <img src="./assets/img/icon.svg" alt="実績紹介" class="c-icon">
            <h2 class="c-title">お知らせ</h2>
          </div>
          <div class="c-qna__list">
            <% if (typeof qna != 'undefined') {
              qna && qna.forEach(item => { %>
                <a class="c-qna__linkitem" href="#">
                  <dl class="c-qna__item">
                    <dt class="c-qna__date"><%= item.dt %></dt>
                    <dd class="c-qna__event"><%= item.dd %></dd>
                  </dl>
                </a>
              <% })
            } %>
          </div>
        </div>
      </div>
      <div class="c-qna__seemore">
        <a class="c-qna__link" href="#">お知らせ一覧 ></a>
      </div>
    </section>
  </main>
  <!-- @@content -->