<div class="c-backtotop">
    <div class="c-backtotop__btn">
      <p class="c-backtotop__text">
        <span class="c-backtotop__icon">^</span>
        <br>
        TOP
      </p>
    </div>
    <div class="c-backtotop__img">
      <img src="./assets/img/pagetop.png" alt="Back to top">
    </div>
  </div>