<footer class="c-footer">
  <div class="c-footer__main l-container">
    <div class="c-footer__inner">
      <h2 class="c-footer__title">
        <span class="c-footer__protect">Protect<br></span>
        <span class="c-footer__the">the</span>
        <span class="c-footer__future">future</span>
      </h2>
      <p class="c-footer__slogan">防災技術を駆使し、地域の未来を守る。</p>
    </div>
    <i class="c-footer__left"></i>
    <div class="c-footer__center">
      <div class="c-footer__info">
        <img class="c-footer__logo" src="./assets/img/flogo.png" alt="WIST">
      <p class="c-footer__company"><span>総合建設コンサルタント </span><span>株式会社アイエステー（IST）</span></p>
      <p class="c-footer__address"><span>〒860-0833</span><span>熊本市中央区平成3丁目16番13号</span></p>
      </div>
      <div class="c-footer__contact">
        <p><span>tel.</span><span>096-285-5177</span></p>
      <p><span>fax.</span><span>096-285-5188</span></p>
      </div>
      <div class="c-footer__link">
        <a href="#">交通アクセス</a>
        <a href="#">プライバシーポリシー</a>
      </div>
      <div class="c-footer__copyright">Copyright © IST CO., LTD. All Rights Reserved.</div>
    </div>
    <i class="c-footer__right"></i>
  </div>
</footer>